{% extends "base.html" %} {% block title %}Add Event{% endblock %} {% block content
    %}
    <h1 align="center" style="margin-top: 7px;">Add Event</h1>
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group pb-3">
            <label>VIS event name</label>
            <input name="eventName" class="form-control" id="note" placeholder="Enter name of the event">
        </div>
        <div class="form-group pb-3">
            <label>Location</label>
            <input name="eventLocation" class="form-control" id="note" placeholder="Enter event location">
        </div>
        <div class="form-group pb-3">
            <label>Foods (comma separated)</label>
            <input name="eventFood" class="form-control" id="note" placeholder="Enter leftovers">
        </div>
        <div class="form-group pb-3">
            <label>Food available until</label>
            <input name="available until" class="form-control" id="note" placeholder="This does nothing yet.">
        </div>
        <div class="form-group pb-4">
            <label class="form-label">Take a photo of the food</label>
            <input name=file type="file" class="form-control" required/>
        </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}
