{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Event List</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for event in events %}
      <li class="list-group-item">
        {{ event.name }}, {{ event.location }}, {{ event.foods }}, {{ event.user_id }}
        {% if user.is_authenticated %}
            <button type="button" class="close" onClick="deleteEvent({{ event.id }})">
              <span aria-hidden="true">&times;</span>
            </button>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endblock %}